/* line 1, ../../app/styles/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
/* line 93, ../../app/styles/reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 101, ../../app/styles/reset.scss */
html,
body {
  height: 100%;
}

/* line 116, ../../app/styles/reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block;
}

/* line 128, ../../app/styles/reset.scss */
b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold;
}

/* line 137, ../../app/styles/reset.scss */
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic;
}

/* line 149, ../../app/styles/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 153, ../../app/styles/reset.scss */
li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item;
}

/* line 163, ../../app/styles/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 170, ../../app/styles/reset.scss */
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

/* line 176, ../../app/styles/reset.scss */
q {
  quotes: none;
}

/* line 181, ../../app/styles/reset.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 188, ../../app/styles/reset.scss */
sub,
sup,
small {
  font-size: 75%;
}

/* line 193, ../../app/styles/reset.scss */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 199, ../../app/styles/reset.scss */
sub {
  bottom: -0.25em;
}

/* line 203, ../../app/styles/reset.scss */
sup {
  top: -0.5em;
}

/* line 207, ../../app/styles/reset.scss */
svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden;
}

/* line 1, ../../app/styles/960_24_col.scss */
body {
  min-width: 960px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16, .push_17, .pull_17, .push_18, .pull_18, .push_19, .pull_19, .push_20, .pull_20, .push_21, .pull_21, .push_22, .pull_22, .push_23, .pull_23 {
  position: relative;
}

/* line 1, ../../app/styles/960_24_col.scss */
.alpha {
  margin-left: 0;
}

/* line 1, ../../app/styles/960_24_col.scss */
.omega {
  margin-right: 0;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_1 {
  width: 30px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_2 {
  width: 70px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_3 {
  width: 110px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_4 {
  width: 150px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_5 {
  width: 190px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_6 {
  width: 230px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_7 {
  width: 270px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_8 {
  width: 310px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_9 {
  width: 350px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_10 {
  width: 390px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_11 {
  width: 430px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_12 {
  width: 470px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_13 {
  width: 510px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_14 {
  width: 550px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_15 {
  width: 590px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_16 {
  width: 630px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_17 {
  width: 670px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_18 {
  width: 710px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_19 {
  width: 750px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_20 {
  width: 790px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_21 {
  width: 830px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_22 {
  width: 870px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_23 {
  width: 910px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .grid_24 {
  width: 950px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_1 {
  padding-left: 40px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_2 {
  padding-left: 80px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_3 {
  padding-left: 120px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_4 {
  padding-left: 160px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_5 {
  padding-left: 200px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_6 {
  padding-left: 240px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_7 {
  padding-left: 280px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_8 {
  padding-left: 320px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_9 {
  padding-left: 360px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_10 {
  padding-left: 400px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_11 {
  padding-left: 440px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_12 {
  padding-left: 480px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_13 {
  padding-left: 520px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_14 {
  padding-left: 560px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_15 {
  padding-left: 600px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_16 {
  padding-left: 640px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_17 {
  padding-left: 680px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_18 {
  padding-left: 720px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_19 {
  padding-left: 760px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_20 {
  padding-left: 800px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_21 {
  padding-left: 840px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_22 {
  padding-left: 880px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .prefix_23 {
  padding-left: 920px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_1 {
  padding-right: 40px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_2 {
  padding-right: 80px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_3 {
  padding-right: 120px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_4 {
  padding-right: 160px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_5 {
  padding-right: 200px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_6 {
  padding-right: 240px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_7 {
  padding-right: 280px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_8 {
  padding-right: 320px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_9 {
  padding-right: 360px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_10 {
  padding-right: 400px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_11 {
  padding-right: 440px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_12 {
  padding-right: 480px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_13 {
  padding-right: 520px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_14 {
  padding-right: 560px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_15 {
  padding-right: 600px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_16 {
  padding-right: 640px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_17 {
  padding-right: 680px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_18 {
  padding-right: 720px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_19 {
  padding-right: 760px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_20 {
  padding-right: 800px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_21 {
  padding-right: 840px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_22 {
  padding-right: 880px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .suffix_23 {
  padding-right: 920px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_1 {
  left: 40px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_2 {
  left: 80px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_3 {
  left: 120px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_4 {
  left: 160px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_5 {
  left: 200px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_6 {
  left: 240px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_7 {
  left: 280px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_8 {
  left: 320px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_9 {
  left: 360px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_10 {
  left: 400px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_11 {
  left: 440px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_12 {
  left: 480px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_13 {
  left: 520px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_14 {
  left: 560px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_15 {
  left: 600px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_16 {
  left: 640px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_17 {
  left: 680px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_18 {
  left: 720px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_19 {
  left: 760px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_20 {
  left: 800px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_21 {
  left: 840px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_22 {
  left: 880px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .push_23 {
  left: 920px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_1 {
  left: -40px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_2 {
  left: -80px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_3 {
  left: -120px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_4 {
  left: -160px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_5 {
  left: -200px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_6 {
  left: -240px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_7 {
  left: -280px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_8 {
  left: -320px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_9 {
  left: -360px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_10 {
  left: -400px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_11 {
  left: -440px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_12 {
  left: -480px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_13 {
  left: -520px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_14 {
  left: -560px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_15 {
  left: -600px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_16 {
  left: -640px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_17 {
  left: -680px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_18 {
  left: -720px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_19 {
  left: -760px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_20 {
  left: -800px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_21 {
  left: -840px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_22 {
  left: -880px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.container_24 .pull_23 {
  left: -920px;
}

/* line 1, ../../app/styles/960_24_col.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 1, ../../app/styles/960_24_col.scss */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 1, ../../app/styles/960_24_col.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../../app/styles/960_24_col.scss */
.clearfix {
  zoom: 1;
}

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
/* line 11, ../../app/styles/text.scss */
body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

/* line 16, ../../app/styles/text.scss */
pre,
code {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

/* line 20, ../../app/styles/text.scss */
hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
/* line 30, ../../app/styles/text.scss */
h1 {
  font-size: 25px;
}

/* line 34, ../../app/styles/text.scss */
h2 {
  font-size: 23px;
}

/* line 38, ../../app/styles/text.scss */
h3 {
  font-size: 21px;
}

/* line 42, ../../app/styles/text.scss */
h4 {
  font-size: 19px;
}

/* line 46, ../../app/styles/text.scss */
h5 {
  font-size: 17px;
}

/* line 50, ../../app/styles/text.scss */
h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
/* line 57, ../../app/styles/text.scss */
ol {
  list-style: decimal;
}

/* line 61, ../../app/styles/text.scss */
ul {
  list-style: disc;
}

/* line 65, ../../app/styles/text.scss */
li {
  margin-left: 30px;
}

/* line 84, ../../app/styles/text.scss */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

/* line 11, ../../app/styles/main.scss */
section, header, footer, article nav {
  display: block;
}

/* line 14, ../../app/styles/main.scss */
body {
  background: #f8eedf url(../images/bg.jpg) repeat-x;
}

/* line 17, ../../app/styles/main.scss */
a {
  text-decoration: none;
  color: black;
}
/* line 20, ../../app/styles/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 25, ../../app/styles/main.scss */
p {
  font-size: 12px;
  line-height: 18px;
  font-size: Verdana, helvetica, arial, sans-serif;
}

/* line 30, ../../app/styles/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: myriad-pro, helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 35, ../../app/styles/main.scss */
h1, h2 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

/* line 39, ../../app/styles/main.scss */
h3 {
  color: #3da2b4;
  text-shadow: 0 -1px 0 #231914;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Merriweather', serif;
  font-weight: inherit;
}

/* line 47, ../../app/styles/main.scss */
ul {
  overflow: hidden;
}

/* line 50, ../../app/styles/main.scss */
li {
  margin-left: 0;
  list-style: none;
}

/* line 54, ../../app/styles/main.scss */
.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 59, ../../app/styles/main.scss */
.container_24 {
  width: 970px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

/*************
---Header---
***********/
/* line 68, ../../app/styles/main.scss */
header {
  overflow: hidden;
  color: white;
}
/* line 71, ../../app/styles/main.scss */
header h1 {
  padding-top: 30px;
  text-shadow: 0 -1px 0 #d09539;
  font-size: 30px;
  height: 95px;
}
/* line 76, ../../app/styles/main.scss */
header h1 a {
  color: white;
}

/***********
----NAV----
************/
/* line 89, ../../app/styles/main.scss */
header nav ul {
  margin-top: 0px;
}
/* line 91, ../../app/styles/main.scss */
header nav ul li {
  display: inline;
  padding-right: 25px;
  text-transform: uppercase;
}
/* line 100, ../../app/styles/main.scss */
header nav a {
  color: white;
  font-size: 16px;
}
/* line 103, ../../app/styles/main.scss */
header nav a:hover {
  background: #EFB04F;
  border-bottom: none;
  margin-right: -10px;
  -webkit-border-radius: 3px;
  -moz-border-radius-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #FCCC85;
  margin-right: -6.5px;
  margin-left: -5px;
  text-shadow: 0 1px 0 #281f1b;
  text-decoration: none;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  padding: 5px;
  border-radius: 5px;
}

/* line 126, ../../app/styles/main.scss */
#form-1 {
  margin-top: 17px;
  text-align: right;
}
/* line 129, ../../app/styles/main.scss */
#form-1 input {
  width: 190px;
  height: 25px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  background: #247083;
  background: url(../images/search.png) 98% 48% no-repeat, linear-gradient(#247083, #3298a5);
  padding: 5px 20px 5px 10px;
  color: white;
}

/**********************
-----SOCIAL ICON----
*********************/
/* line 144, ../../app/styles/main.scss */
#headSocial {
  position: absolute;
  right: 5px;
  top: 30px;
}
/* line 148, ../../app/styles/main.scss */
#headSocial li {
  display: inline;
}
/* line 152, ../../app/styles/main.scss */
#headSocial img {
  float: left;
  margin-left: 23px;
  margin-bottom: -1px;
  -webkit-transition: -webkit-border-radius 0.2s;
  -moz-transition: -moz-border-radiusall 0.2s;
  transition: border-radius 0.2s;
}
/* line 159, ../../app/styles/main.scss */
#headSocial img:hover {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -moz-box-shadow: 0 0 0 1px white;
  -webkit-box-shadow: 0 0 0 1px white;
}

/****** BANNER********/
/* line 170, ../../app/styles/main.scss */
#banner-wrap {
  clear: both;
  background: url(../images/BannerBg.jpg);
  padding-bottom: 15px;
  border-bottom: 1px solid #bba67b;
  padding-top: 45px;
}
/* line 176, ../../app/styles/main.scss */
#banner-wrap a {
  color: white;
}

/* line 180, ../../app/styles/main.scss */
#banner {
  background: url(../images/bannerInnerBg.jpg);
  width: 960px;
  padding: 40px 40px 50px;
  color: white;
  position: relative;
  z-index: 3;
}
/* line 187, ../../app/styles/main.scss */
#banner h2 {
  color: #3DA2B4;
  text-shadow: 0 -1px 0 #d09539;
  line-height: 20px;
  font-height: 23px;
}
/* line 192, ../../app/styles/main.scss */
#banner h2 a {
  color: white;
}
/* line 196, ../../app/styles/main.scss */
#banner p {
  width: 480px;
  margin-bottom: 20px;
}
/* line 200, ../../app/styles/main.scss */
#banner button {
  margin-right: 20px;
  width: 160px;
}

/* line 206, ../../app/styles/main.scss */
#featured {
  position: absolute;
  right: 40px;
  top: 24px;
}
/* line 209, ../../app/styles/main.scss */
#featured img {
  -webkit-box-shadow: 0 3px 15px #143d47;
  -moz-box-shadow: 0 3px 15px #143d47;
  box-shadow: 0 3px 15px #143d47;
}
/* line 213, ../../app/styles/main.scss */
#featured img:first-child {
  position: relative;
  left: 160px;
  top: 0px;
}

/* line 221, ../../app/styles/main.scss */
#breadcrumbs {
  background: #257386;
  background: -moz-linear-gradient(top, #298192, #247184);
  line-height: 43px;
  position: relative;
  z-index: 2;
  top: -6px;
  padding: 0 40px;
  width: 960px;
  color: white;
  text-shadow: 0 -1px 0 #176472;
}
/* line 232, ../../app/styles/main.scss */
#breadcrumbs a {
  background: url("../images/arrow.png") no-repeat scroll center 37px transparent;
  display: inline-block;
}

/*******MAIN********/
/* line 240, ../../app/styles/main.scss */
#main {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f8eedf;
  background: -webkit-gradient(linear, left top, right top, from(#f8eedf), color-stop(63.5%, #f8eedf), color-stop(63.6%, #fff7ea), color-stop(63.6%, #dfcdb2), color-stop(63.7%, #e8d8c0), to(#f8eedf));
  background: -moz-linear-gradient(left, #f8eedf 63.5%, #fff7ea 63.6%, #dfcdb2 63.6%, #e8d8c0 63.7%, #f8eedf);
  overflow: hidden;
}
/* line 264, ../../app/styles/main.scss */
#main article {
  padding-right: 90px;
}
/* line 266, ../../app/styles/main.scss */
#main article h2 {
  margin-bottom: 0px;
  font-size: 24px;
  text-transform: none;
  font-family: 'Quicksand', sans-serif;
}
/* line 272, ../../app/styles/main.scss */
#main article img {
  margin: 0 0 10px;
}
/* line 275, ../../app/styles/main.scss */
#main article h6 {
  color: #d6a75d;
  font-style: italic;
  font-size: 13px;
  text-transform: none;
}
/* line 280, ../../app/styles/main.scss */
#main article h6 a {
  color: #d6a75d;
  font-style: italic;
  font-weight: lighter;
}
/* line 288, ../../app/styles/main.scss */
#main p a {
  color: #247184;
  font-weight: bold;
}

/* line 294, ../../app/styles/main.scss */
#primary {
  padding-right: 83px;
}
/* line 296, ../../app/styles/main.scss */
#primary button {
  background: url(../images/buttonBrown.jpg);
  color: white;
  width: 60px;
  height: 31px;
  float: right;
  border-radius: 0;
}

/**********TABS**************/
/* line 308, ../../app/styles/main.scss */
.tabs {
  overflow: hidden;
  background: #257588;
  background: -webkit-gradient(linear, left top, left bottom, from #257588, to(#3096a4));
  background: -moz-linear-gradient(top, #257588, #3096a4);
  background: linear-gradient(top, #257588, #3096a4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-bottom: 10px;
}
/* line 317, ../../app/styles/main.scss */
.tabs ul {
  padding: 10px 10px 0;
  margin-bottom: 0;
  border-top: 1px solid #248fa6;
}

/* line 323, ../../app/styles/main.scss */
#tabHeadings {
  display: block;
  margin-bottom: 0;
  background: repeat;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  overflow: hidden;
  border-bottom: 1px solid #134a56;
  border-radius: 5px 5px 0px 0px;
  background: #40312a;
}
/* line 335, ../../app/styles/main.scss */
#tabHeadings a {
  color: white;
}
/* line 336, ../../app/styles/main.scss */
#tabHeadings a:hover {
  text-decoration: none;
}
/* line 340, ../../app/styles/main.scss */
#tabHeadings li {
  float: left;
  width: 103px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
/* line 346, ../../app/styles/main.scss */
#tabHeadings li .selected {
  background: #257588;
  position: relative;
  top: 2px;
}

/* line 353, ../../app/styles/main.scss */
#tabHeadings li.selected, #tabHeadings li:hover {
  background: #257588;
  position: relative;
  top: 2px;
}

/* line 359, ../../app/styles/main.scss */
.js .tabs h4 {
  display: none;
}

/* line 362, ../../app/styles/main.scss */
.js .tabs > ul {
  display: none;
}

/* line 365, ../../app/styles/main.scss */
.js .tabs > ul:first-child {
  display: block;
}

/* line 368, ../../app/styles/main.scss */
.js .tabs > ul:not(:first-child) {
  display: none;
}

/******COMMENTS*******/
/* line 374, ../../app/styles/main.scss */
#comments li, #archives li, #categories li {
  border-bottom: 1px solid #1d6b78;
  border-top: 1px solid #399cac;
  padding: 10px;
  color: white;
}
/* line 379, ../../app/styles/main.scss */
#comments li:last-child, #archives li:last-child, #categories li:last-child {
  border-bottom: none;
}
/* line 382, ../../app/styles/main.scss */
#comments li:first-child, #archives li:first-child, #categories li:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 387, ../../app/styles/main.scss */
#comments h6, #archives h6, #categories h6 {
  margin-bottom: 0;
  color: #ededed;
  font-weight: normal;
  font-size: 10px;
  margin-top: -13px;
}

/* line 396, ../../app/styles/main.scss */
h6 a {
  color: white;
  font-weight: bold;
}

/* line 402, ../../app/styles/main.scss */
.tabs a {
  color: white;
}
/* line 404, ../../app/styles/main.scss */
.tabs a:hover {
  text-decoration: none;
}
/* line 409, ../../app/styles/main.scss */
.tabs li:hover {
  cursor: pointer;
  background: #1d6b78;
}
/* line 415, ../../app/styles/main.scss */
.tabs ul:first-child {
  background: none;
}
/* line 421, ../../app/styles/main.scss */
.tabs li:hover {
  background: none;
}

/* line 426, ../../app/styles/main.scss */
.tabs > ul li:hover {
  cursor: pointer;
}

/* line 430, ../../app/styles/main.scss */
.tabList li:first-child {
  border-top: none;
}

/* line 433, ../../app/styles/main.scss */
.tabList li:last-child {
  border-bottom: none;
}

/*********SPONSORS******/
/* line 438, ../../app/styles/main.scss */
#sponsors li:nth-child(even) {
  float: right;
}

/* line 441, ../../app/styles/main.scss */
#sponsors img {
  border: 5px solid #febf5d;
}

/* line 445, ../../app/styles/main.scss */
#sponsors li {
  display: inline;
}

/*****SECTIONS*****/
/* line 451, ../../app/styles/main.scss */
.tabs {
  margin-bottom: 41px;
  margin-top: -5px;
}

/* line 456, ../../app/styles/main.scss */
#who p {
  padding-top: 20px;
  padding-bottom: 20px;
}

/******FOOTER*********/
/* line 462, ../../app/styles/main.scss */
#footer-wrap {
  background: url(../images/bannerInnerBg.jpg);
  overflow: hidden;
  border-top: 1px solid #3a2c25;
  padding-bottom: 50px;
  position: relative;
}
/* line 466, ../../app/styles/main.scss */
#footer-wrap button {
  min-width: 110px;
  float: right;
  border-radius: 0px;
  box-shadow: 1px 1px -1px -1px #ebbb72;
  border-color: #febf5d;
}

/* line 476, ../../app/styles/main.scss */
#footer-wrap::before {
  content: ' ';
  border-top: 1px solid #83786e;
  width: 100%;
  position: absolute;
}

/* line 482, ../../app/styles/main.scss */
#footer-wrap footer {
  padding: 50px 0;
  color: white;
}

/*QUOTE*/
/* line 488, ../../app/styles/main.scss */
#quote {
  padding-right: 40px;
}

/*RECENT PROJECT*/
/* line 494, ../../app/styles/main.scss */
#recentProjects li {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 3px 3px 3px;
  background: #febf5d;
}

/* line 502, ../../app/styles/main.scss */
#recentProjects li:hover {
  background: #edad4e;
  outline: 1px solid #fccc85;
}

/* line 506, ../../app/styles/main.scss */
#recentProjects button {
  margin-right: 27px;
  margin-top: -8px;
}

/*****TWITTTER*********/
/* line 512, ../../app/styles/main.scss */
footer p span #twitter a {
  display: block;
  color: #2e91a0;
  font-style: italic;
}

/* line 518, ../../app/styles/main.scss */
#twitter {
  padding-left: 40px;
}
/* line 519, ../../app/styles/main.scss */
#twitter button {
  margin-top: 7px;
}

/* line 524, ../../app/styles/main.scss */
#twitter a {
  display: inline;
}

/* line 529, ../../app/styles/main.scss */
footer input {
  margin-bottom: 15px;
  background-color: #f8eedf;
  height: 38px;
  padding-left: 10px;
  color: #247184;
  width: 40%;
  margin-right: 10px;
  background-color: f8eedf;
}
/* line 540, ../../app/styles/main.scss */
footer textarea {
  margin-bottom: 15px;
  background-color: #f8eedf;
  width: 270px;
  height: 110px;
  padding-left: 10px;
  padding-top: 10px;
  color: #247184;
}

/* line 551, ../../app/styles/main.scss */
#email {
  margin-right: 0;
  width: 54.5%;
}

/* line 556, ../../app/styles/main.scss */
#timescale {
  width: 270px;
  margin-bottom: 30px;
}

/*SITE iNFO*/
/* line 563, ../../app/styles/main.scss */
#siteInfo {
  background: url(../images/footerSmallBg.jpg);
  height: 50px;
  line-height: 50px;
  color: white;
  overflow: hidden;
}

/* line 571, ../../app/styles/main.scss */
#siteInfo p {
  float: left;
  line-height: 50px;
}

/* line 575, ../../app/styles/main.scss */
footer nav {
  float: right;
}

/* line 578, ../../app/styles/main.scss */
footer nav li {
  float: left;
}

/* line 581, ../../app/styles/main.scss */
footer nav a {
  color: white;
}

/* line 584, ../../app/styles/main.scss */
footer nav li:before {
  content: '|';
  padding: 5px;
  text-shadow: 0 1px 0 #165665;
}

/* line 589, ../../app/styles/main.scss */
footer nav li:first-child::before {
  content: ' ';
}

/* line 592, ../../app/styles/main.scss */
button {
  background: url(../images/button.jpg);
  height: 33px;
  min-width: 110px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}
